<mat-form-field appearance="fill">
  <mat-label>planet</mat-label>
  <mat-select [(value)]="selectedPlanet" >
    <mat-option *ngFor="let planet of planets" [value]="planet">
      {{planet.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<table class="table caption-top" *ngIf="selectedPlanet">
  <caption>Selected Planet</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Diameter</th>
      <th scope="col">Climate</th>
      <th scope="col">Population</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ selectedPlanet.name }}</td>
      <td>{{ selectedPlanet.diameter }}</td>
      <td>{{ selectedPlanet.climate }}</td>
      <td >{{ selectedPlanet.population }}</td>
      <td ><button mat-raised-button (click)="openDialog()" [disabled]="!selectedPlanet.residents ||selectedPlanet.residents.length==0">Residents</button></td>
    </tr>
  </tbody>
</table>
